#mapid1 {
    height: 600px;
}
#mapid2 {
    height: 600px;
   
}
#mapid3 {
    height: 600px;
    
}
#mapid4 {
    height: 600px;
    
}
.btn-primary {
    color:black;
    background-color: rgb(62, 184, 255);
    border-color:rgb(62, 184, 255);
}
.btn-warning {
    color: black;
    background-color:#f6d935;
    border-color: #f6d935;
}
.btn-danger {
    color: black;
    background-color: #f30b0b;
    border-color: #f30b0b;
}
.btn-success {
    color: black;
    background-color: #13d613;
    border-color: #13d613;
}